<h2>About Us</h2>
<blockquote>
    <p>
        BEDU is an open-sighted dream that some people who have left their villages and settled in cities due to their jobs.</p>

<p>All people have the same objective, to generate employment in the village and to develop the village.</p>

<p>The BEDU team is committed to creating organic products produced in the environment of the village and bringing it to the market so that the self-employed in the villages will be developed and the people of the villages will not have to leave the village to do the job.</p>

<p>The youth get employment in the village, they can serve their elderly parents and re-populate the barren fields.</p>
    
</blockquote>