
<div >
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>

          

  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear mb-4">
    <div class="container">
      <a class="navbar-brand" rel="nofollow" target="_blank" routerLink="/" style="text-transform: uppercase;"> <span class="display-4 font-weight-bold"><img src="assets/img/header-removebg-preview.png" class="mb-1" height="51"/>BEDU</span></a>
      <button class="navbar-toggler" type="button" (click)="updateClasses($event)" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="isShown" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users" class="nav-link" *ngIf="auth.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="/posts" class="nav-link" *ngIf="auth.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Posts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/members" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Members</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contactus" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link" *ngIf="!auth.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" *ngIf="!auth.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="logout" class="nav-link" *ngIf="auth.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Logout</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
</div>
