<h2>Our Goal</h2>
<blockquote><img src="assets\img\Goal.jpeg" class="rounded float-left mr-2" alt="Responsive image">
  <p>BEDU is an open-sighted dream that some people who have left their villages and settled in cities due to their jobs. <p>

    <p>All people have the same objective, to generate employment in the village and to develop the village. <p>
    
    <p>The BEDU team is committed to creating organic products produced in the environment of the village and bringing it to the market so that the self-employed in the villages will be developed and the people of the villages will not have to leave the village to do the job. <p>
    
    <p>The youth get employment in the village, they can serve their elderly parents and re-populate the barren fields.<p>
</blockquote><hr>
<h2>Bedu-Bhoomi Pujan</h2>
<blockquote><img src="assets\img\BhoomiPujanAndSanitizer.jpeg" class="rounded float-left mr-2" alt="Responsive image">
  <p>The foundation of the indigenous company "Bedu" was laid in Bijni village of Yamkeshwar. A group of local people of the village launched the 'Bedu' company sanitizer. This indigenous company started by migrants and locals will provide employment to many locals. In the first episode of the scheme, Animal Farming was launched with 15 cosmetics and sanitizers will come on the market under Natural Mineral Water and FMCG.
</p>
<p>
In the first episode of the ambitious plan of Bright Era Of Developing Uttarakhand made up of a group of residents and expatriates of Yamakeshwar to set up small scale industry in Bijni village of Yamkeshwar block of Pauri, today Vedic chanting in Bijni village of Yamkeshwar Mr. Ganesh has done the work of dairy farm by doing Bhoomi Pujan. Managing Director of Bedu Company, Hari Kaparwan said that Uttarakhand, with its own distinct identity, is carrying out its work by taking the unemployed and experienced youth of the region along with everyone to develop everyone and empower the region towards self-reliance. . A large group of 81 members is working in every field. With this, Bedu company is going to bring its various production market very soon, with 15 cosmetics and sanitizers under Natural Mineral Water and FMCG.</p>
<p>Our team of 81 people is fully filled with different skills and experiences, ranging from IT sector, Motivational Events, Business Development Skill, Sales and Marketing, with Animal Farming There is also an expert in agro farming.
  However, BEDU is in its nascent stage and will soon launch its FMCG product in the market. All the products of BEDU are herbal products and have been made with special attention to the health and environment of the people with no side effects</p>

</blockquote><hr>
<h2>Bedu-Hand Sanitizer to fight against Covid-19</h2>
<blockquote>  
  <img src="assets\img\Sanitizer1.jpeg" class="rounded float-left mr-2" alt="Responsive image"/>
  <p>When it comes to preventing the spread of infectious diseases like COVID-19, nothing beats good old-fashioned handwashing.</p>
  <p> But if water and soap aren’t available, your next best option, according to the Centers for Disease Control and Prevention (CDC)Trusted Source, is to use an alcohol-based hand sanitizer that contains at least 60 percent alcohol.</p>
  <p>Unless you have a stockpile of store-bought hand sanitizer, you’ll likely have a hard time finding any at a store or online right now. Due to the rapid spread of the new coronavirus, most retailers can’t keep up with the demand for hand sanitizer.</p>
  <p>rerum tempore vitae sequi sint nihil reprehenderit dolor beatae ea dolores neque fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis qui aperiam non debitis possimus qui neque nisi nulla
  aut dicta possimus sint mollitia voluptas commodi quo doloremque iste corrupti reiciendis voluptatem eius rerum sit cumque quod eligendi laborum minima perferendis recusandae assumenda consectetur porro architecto ipsum ipsam
  rerum tempore vitae sequi sint nihil reprehenderit dolor beatae ea dolores neque fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis qui aperiam non debitis possimus qui neque nisi nulla
  aut dicta possimus sint mollitia voluptas commodi quo doloremque iste corrupti reiciendis voluptatem eius rerum sit cumque quod eligendi laborum minima perferendis recusandae assumenda consectetur porro architecto ipsum ipsamrerum tempore vitae sequi sint nihil reprehenderit dolor beatae ea dolores neque fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis qui aperiam non debitis possimus qui neque nisi nulla</p>
</blockquote><hr>
<h2>Bedu-Milk & Dariy Product</h2>
<blockquote>
  <img src="assets\img\DariyProduct.jpeg" class="rounded float-left mr-2" alt="Responsive image"/><img src="assets\img\Milk.jpeg" class="rounded float-right ml-2" alt="Responsive image">
  <p>Bedu Dairy products or milk products are a type of food produced from or containing the milk of mammals. They are primarily produced from mammals such as cattle, water buffaloes, goats and sheep. Dairy products include food items such as yogurt, cheese and butter.</p>
  rerum tempore vitae sequi sint nihil reprehenderit dolor beatae ea dolores neque fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis qui aperiam non debitis possimus qui neque nisi nulla
  aut dicta possimus sint mollitia voluptas commodi quo doloremque iste corrupti reiciendis voluptatem eius rerum sit cumque quod eligendi laborum minima perferendis recusandae assumenda consectetur porro architecto ipsum ipsam
  rerum tempore vitae sequi sint nihil reprehenderit dolor beatae ea dolores neque fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis qui aperiam non debitis possimus qui neque nisi nulla
  aut dicta possimus sint mollitia voluptas commodi quo doloremque iste corrupti reiciendis voluptatem eius rerum sit cumque quod eligendi laborum minima perferendis recusandae assumenda consectetur porro architecto ipsum ipsam
  rerum tempore vitae sequi sint nihil reprehenderit dolor beatae ea dolores neque fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis qui aperiam non debitis possimus qui neque nisi nulla
  aut dicta possimus sint mollitia voluptas commodi quo doloremque iste corrupti reiciendis voluptatem eius rerum sit cumque quod eligendi laborum minima perferendis recusandae assumenda consectetur porro architecto ipsum ipsam
  
</blockquote>
