<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1 class="mb-3">
                  Oops!</h1>
              <h2>
                  404 Not Found</h2>
              <div class="error-details mb-2">
                  Sorry, an error has occured, Requested page not found!
              </div>
              <div class="error-actions">
                <button class="btn btn-primary" routerLink="/"><span class="glyphicon glyphicon-home">Take Me Home</span></button>
                  
              </div>
          </div>
      </div>
  </div>
</div>