<h2 *ngIf="!isEdit">Add Post</h2>
<h2 *ngIf="isEdit">Update Post</h2>
<div class="card card-body mb-3" >
  <form>  
    <div class="form-froup">
      <label>Title</label>
      <input type="text" 
        name="title" 
        class="form-control" 
        [(ngModel)]="currentPost.title"        
        [ngClass]="{'is-invalid':title.errors && body.touched}" 
        #title 
        required
      >
      <div [hidden]="!title.errors?.required" class="invalid-feedback">Title is required.</div>
    </div>
    <div class="from-group mb-3">
      <label>Body</label>
      <input 
        type="text" 
        name="body" 
        class="form-control"
        [(ngModel)]="currentPost.body"        
        [ngClass]="{'is-invalid':body.errors && body.touched}" 
        #body 
        required
      >
      <input type="hidden" [(ngModel)]="currentPost.id" name="id">
      <div [hidden]="!body.errors?.required" class="invalid-feedback">Body is required.</div>
    </div>
    <button *ngIf="!isEdit" (click)="addPost(title.value, body.value)"  class="btn btn-dark btn-block">Add Post</button>
    <button *ngIf="isEdit" (click)="updatePost()"  class="btn btn-warning btn-block">Update Post</button>
  </form>
</div>
